
@{
    ViewData["Title"] = "ErrorPage";
}

<h1>Oops! Looks like there was an error!</h1>

Note: When creating your password, make sure it is at least 8 characters long and contains at least one of the following special characters: ! # %
<br />
<br />

<a asp-controller="Home" asp-action="Registration">Return to Registration Form</a>

