@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Motown Coffee!</h1>
</div>

<a asp-controller="Home" asp-action="Registration">Registration Form</a>